<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div>
    <h1>Welcome to the Hawaii Climate Measurement API!</h1>
    <p>
        Below you will find the api's available for this website:
    </p>
    <ul>
        <li>/api/v1.0/precipitation</li>
        <li>/api/v1.0/stations</li>
        <li>/api/v1.0/tobs</li>
        <li>/api/v1.0/&lt;start&gt;</li>
        <li>/api/v1.0/tobs/&lt;start&gt;/&lt;end&gt;</li>
    </ul>

</div>
</body>
</html>