<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
    </style>
</head>
<body>
<div>
    <h1>Welcome to the Hawaii Climate Measurement API!</h1>
    <p>
        Below you will find the api's available for this website:
    </p>
    <ul>
        <li><a href="{{ url_for('precipitation') }}">/api/v1.0/precipitation</a></li>
        <li><a href="{{ url_for('stations') }}">/api/v1.0/stations</a></li>
        <li><a href="{{ url_for('tobs') }}">/api/v1.0/tobs</a></li>
        <li>/api/v1.0/&lt;start&gt;</li>
        <li>/api/v1.0/tobs/&lt;start&gt;/&lt;end&gt;</li>
    </ul>

</div>
</body>
</html>